@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "PinkAndCrimson";
    src: local("PinkAndCrimson"),
        url("./fonts/PinkAndCrimson.otf") format("woff");
}


.screenContainer {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    background-color: #000000;
    position: relative;
}

.screenContainer .screenLeft {
    height: 100%;
    width: 40%;
    position: relative;
}

.screenContainer .screenMiddle {
    height: auto;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.screenContainer .helmetIcon {
    width: 140px;
    height: 120px;
    object-fit: contain;
    margin-left: -25px;
    margin-bottom: 18px;
}

.screenContainer .websiteIcon {
    width: 200px;
    height: 98px;
    object-fit: contain;

}

.screenContainer .screenMiddle .remainingTime {
    width: 500px;
    background-color: black;
    padding: 0 50px;
    border-radius: 140px;
    padding-bottom: 25px;
    position: relative;
    right: 320px;
    margin: 1rem 0;
}

.screenContainer .screenMiddle .remainingTime .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: red;
}

.screenContainer .screenMiddle .remainingTime .row .thintext {
    font-family: 'Poppins', sans-serif;
    color: #AAAAAA;
    padding-top: 12px;
    padding-bottom: 5px;
    letter-spacing: 1px;
}

.screenContainer .screenMiddle .remainingTime .row .col p {
    font-family: "PinkAndCrimson";
}

.screenContainer .screenMiddle .remainingTime .row .col .numbers {
    font-size: 62px;
    color: #FFFFFF;
    letter-spacing: 2px;
}



.screenContainer .screenMiddle .remainingTime .row:nth-child(1) {
    display: flex;
    justify-content: center;
}


.screenContainer .screenMiddle .remainingTime .row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
}

.screenContainer .screenMiddle .remainingTime .row .col p:nth-child(2) {
    letter-spacing: 1px;
}



.screenContainer .screenMiddle .buttonAndIcons {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}



.screenContainer .screenMiddle .buttonAndIcons img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    cursor: pointer;
    transition: all 0.5s ease;

}

.screenContainer .screenMiddle .buttonAndIcons img:hover {
    transform: scale(1.2);
}

.screenContainer .screenMiddle .buttonAndIcons a:nth-child(2) {
    margin: 0 2rem;
}



.screenContainer .screenMiddle .gamenighttext {
    font-family: "PinkAndCrimson";
    color: #FF0000;
    font-size: 38px;
    margin: 14px 0;
}

.screenContainer .screenMiddle .dateandtime {
    font-family: "PinkAndCrimson";
    font-size: 30px;
    color: white;
}

.screenContainer .screenMiddle .svg-clip-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 40px;
    margin-top: 7px;
    background-color: red;
    clip-path: polygon(100% 0, 0 5.625%, 0 90%, 96.948% 100%, 100% 0);
    color: white;

    text-align: center;
    font-size: 22px;
    font-weight: 100;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s ease-in-out;

    font-family: "PinkAndCrimson";

}

.screenContainer .screenMiddle .svg-clip-1:hover {
    transform: scale(1.1);
    background-color: black;
    color: white;
    border: 2px solid black;
}



.screenContainer .screenLeft img {
    width: 100%;
    /* height: 80%; */
    height: auto;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
}

.screenContainer .screenRight {
    height: auto;
    width: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.screenContainer .toprightCornerImg {
    position: absolute;
    top: 0;
    right: 0;

    z-index: 1;
}

.screenContainer .bottomrightCornerImg {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

}

.screenContainer .screenRight .timeZoneinnerContainer {
    width: 80%;
    height: auto;
    /* margin-top: -8rem; */
    /* padding: 4rem 0; */
    margin-bottom: 8rem;
    margin-top: 2rem;
    /* margin: 8rem 0; */

}

.screenContainer .screenRight .timezonesContainer {
    color: white;
    font-family: 'Poppins', sans-serif;
    color: #AAAAAA;
    letter-spacing: 2px;
    margin: 1rem 0;

}

.screenContainer .screenRight .countryTimeZone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    color: white;
    margin: 10px 0;

    /* margin-left: 2rem; */
    /* margin-right: 2rem; */
    cursor: pointer;

}

.screenContainer .screenRight .countryTimeZone .timezoneleft {
    display: flex;
}

.screenContainer .screenRight .countryTimeZone .time {
    margin-left: 1rem;
    text-align: left;
}

.screenContainer .screenRight .countryTimeZone .time p:nth-child(1) {
    font-family: "PinkAndCrimson";
    color: #FF0000;
    font-size: 26px;

}

.screenContainer .screenRight .countryTimeZone .time p:nth-child(2) {
    font-family: "PinkAndCrimson";
    color: white;
    font-size: 18px;
}

.screenContainer .screenRight .countryTimeZone .date {
    font-family: "PinkAndCrimson";
    color: white;
    font-size: 28px;
}

/* .screenContainer .screenRight .countryTimeZone .timeZoneinnerContainer {
    border: 2px solid yellow;
} */

.screenContainer .screenRight .countryTimeZone img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}


@media only screen and (max-width: 990px) {
    .screenContainer {
        /* background-color: red; */
        height: auto;
        flex-direction: column !important;
    }

    .screenContainer .screenLeft,
    .screenContainer .screenMiddle,
    .screenContainer .screenRight {
        width: 100%;
    }

    .screenContainer .screenLeft img {
        position: relative;
        height: 500px;
        max-height: auto;
        width: auto;
        top: 0;
        left: 0;
    }

    .screenContainer .screenMiddle {
        /* margin-top: 5rem; */
        position: absolute;
        padding: 0 1rem;
        padding-top: 1rem;
    }

    .screenContainer .screenMiddle .buttonAndIcons {
        margin: 2rem 0;
    }

    .screenContainer .screenMiddle .remainingTime {
        right: 0;
        margin: 0;
        width: auto;

    }

    .screenContainer .screenRight {
        margin-top: 180px;
        padding-bottom: 10rem;
        border: 2px solid red;
    }

    .screenContainer .screenRight .timeZoneinnerContainer {
        margin: 0;
    }

}

@media only screen and (max-width: 550px) {
    .screenContainer .screenLeft img {
        height: 400px;
    }

    .screenContainer .screenMiddle .remainingTime {
        margin-top: 1rem;
    }

    .screenContainer .screenMiddle .remainingTime .row .col p:nth-child(2) {
        font-size: 13px;
    }

    .screenContainer .screenMiddle .remainingTime .row .col .numbers {
        font-size: 42px;
    }

    .screenContainer .screenRight {
        margin-top: 240px;
    }
}

@media only screen and (max-width: 375px) {
    .screenContainer .screenLeft img {
        height: 350px;
    }

    .screenContainer .screenRight {
        margin-top: 290px;
    }
}